body
{
    background-color: pink;
    text-align: center;
    font-family: Arial;
    padding-top: 120px;
    margin: 0;
}

h1
{
    color: white;
    font-size: 35px;
    font-family: Georgia;
}

button
{
    font-size: 25px;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}


.photo-collage
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#slideshow-image
{
    width: 85vw;
    max-width: 420px;
    height: auto;
    border-radius: 15px;
    transition: opacity 0.5s ease;
}

#message
{
    font-size: 30px;
    font-family: "Verdana";
    color: white;

    margin-top: 30px;
}